h1 {
  color: tomato;
}

.userDetails {
  width: 300px;
  background-color: #2e77ff
}

.conversation {
  width: 300px;
  background-color: #ff2e62;
}

.conversationHeader {
  margin-bottom: 10px;
  padding: 5px 0;
  background-color: #d40035;
}

.conversationMessages {
  height: 200px;
  background-color: #ff2e62;
  overflow: scroll;
}

.conversationNewMessage {
  margin-top: 10px;
  padding: 5px 0;
  background-color: #d40035;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.clearFloat {
  clear: both;
}

